


*,
*::before,
*::after {
  box-sizing: border-box;
}
.padded{
  padding: 2rem 0rem;
}
.main1{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

img {
  display: flex;
  justify-content: center;align-items: center;
  height: 42vh;
  width: 100%;
  vertical-align: middle;

}
.btn {
	text-transform: uppercase;
	letter-spacing: .3rem;
	cursor: pointer;
	font-size: 14px;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;

  
  padding: 1.2rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  background: transparent;
} 
.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 2rem 0.3rem;
}

.cards_item {
  display: flex;
  padding: 2.8rem 2rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 60%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;

  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.card_content {

  padding: 3rem;
  background: rgb(27,27,27);
  height: 65vh;   
  /* here */
  
}

.card_title {
  text-align: center;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  padding: 1rem;

}
.card_text {
	font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  padding: 0.4rem;
  
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
  padding: 0.4rem;

}
a{
  color: #ffffff;
}