
  /* body {
	place-items:center;

  }  */
  
  img {
	width: 30%;

	-webkit-box-reflect:below 2px linear-gradient(transparent, transparent, rgba(158, 143, 143, 0.267));
	transform-origin:center;
	transform:perspective(800px) rotateY(25deg);
	transition:0.5s;
  }
  .container {
	max-width:600px;
	/* max-height:750px; */
	display:flex;
	justify-content:center;
	align-items:center;
	/* gap:20px; */
  } 
  .container:hover img {
	opacity:0.3;
  }
  .container img:hover {
	transform:perspective(800px)       rotateY(0deg);
	opacity:1;
  }